.homeContainer {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonsContainer {
  width: 600px;
  max-width: 700px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.play {
  width: 250px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: solid 5px #f6f6f6;
  background-color: #5cdb95;
  font-size: 26px;
  color: #05386b;
  cursor: pointer;
}

.ranking-box {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  background: #fff;
  justify-content: center;
  border-radius: 5px;
  padding: 5px 0;
}

.ranking-group {
  display: flex;
  background: #5cdb95;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 5px 10px;
  height: 150px;
}

.ranking-group:hover {
  height: 160px;
  background: #7ec29c;
}

.rank-rows {
  margin: 5px;
}

.photo {
  background: #fff;
  border-radius: 50px;
  width: 90px;
  height: 90px;
  margin: 0 25px;
}

.name {
  flex: 6;
}

.pontuacao {
  flex: 1;
}

#rank-title {
  font-size: 25px;
  padding: 20px;
}
